a {
    text-decoration: none;
}
.line-header {
    display: flex;
    justify-content: space-between;
    background-color: #3399cc;
    width: 1920px;
    height: 118px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    color: aliceblue;
}

.header-telephone {
    display: flex;
    align-items: flex-start;
    font-size: 25px;
    color: aliceblue;
}
.header-right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.line-header-nav {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.item {
    font-size: 20px;
    color: #333333;
    padding: 5px;
    margin-left: 31px;
}
.logo-text {

}
.header-telephone {

}
.line-header2 {
    background-image: url(../img/background-header2.png);
    width: 1440px;
    height: 515px;

}
