* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #3399cc;
  padding: 25px 10px 15px 10px;
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  color: aliceblue;
  &__img {
    margin-right: 29px;
  }
}
@import 'telephone';
@import 'nav';

//.header-telephone {
//  display: flex;
//  align-items: flex-start;
//  font-size: 25px;
//  color: aliceblue;
//}
//.header-right-side {
//  display: flex;
//  flex-direction: column;
//  align-items: flex-end;
//}
//.line-header-nav {
//  list-style-type: none;
//  text-decoration: none;
//  display: flex;
//  align-items: center;
//}
//.item {
//  font-size: 20px;
//  color: #333333;
//  padding: 5px;
//  margin-left: 31px;
//}
//.logo-text {
//
//}
//.header-telephone {
//
//}
//.line-header2 {
//  background-image: url(../img/background-header2.png);
//  width: 1440px;
//  height: 515px;
//
//}
